# Your Twilio Account SID. Get a free account at twilio.com/try-twilio
TWILIO_ACCOUNT_SID=ACfdc52182766b5e2f850093cb6e3d31f4
# Your Twilio Auth Token. You can get it at twilio.com/console
TWILIO_AUTH_TOKEN=dbb238875c2998ce4594c5c3b304960c
# The Twilio phone number you want to use to send SMS. Get one in the Twilio Console
TWILIO_PHONE_NUMBER=(631) 201-1152


